<!-- Inherits the nav bar and the footer -->
{% extends "./base.html" %} {% load static %}

<!-- To iherit nav bar, footer and the product display - override the specific_to_home_page block
and change the  block "for_section_heading" inside the class section featured -->

{% block for_common_body %}

<div class="container">
  {% block specific_to_home_page1 %}
  <div
    class="shipping-outer wow fadeInUp"
    data-wow-duration="0.5s"
    data-wow-delay="0.5s"
  >
    <div class="shipping-inner">
      <div class="heading col-md-3 col-sm-12 col-xs-12">
        <h2>Why choose us?</h2>
      </div>

      <!-- Subtitle Parts -->
      <div class="subtitle-part subtitle-part1 col-md-3 col-sm-4 col-xs-12">
        <div class="subtitle-part-inner">
          <div class="subtitile">
            <div class="subtitle-part-image"></div>
            <div class="subtitile1">On time delivery</div>
            <div class="subtitile2">15% back if not able</div>
          </div>
        </div>
      </div>

      <div class="subtitle-part subtitle-part2 col-md-3 col-sm-4 col-xs-12">
        <div class="subtitle-part-inner">
          <div class="subtitile">
            <div class="subtitle-part-image"></div>
            <div class="subtitile1">Free delivery</div>
            <div class="subtitile2">Order over $ 200</div>
          </div>
        </div>
      </div>

      <div class="subtitle-part subtitle-part3 col-md-3 col-sm-4 col-xs-12">
        <div class="subtitle-part-inner">
          <div class="subtitile">
            <div class="subtitle-part-image"></div>
            <div class="subtitile1">Quality assurance</div>
            <div class="subtitile2">You can trust us</div>
          </div>
        </div>
      </div>
      <!-- End of Subtitle Parts -->
    </div>
  </div>
  {% endblock %}

  <!-- Looping the all the products here -->
  <div class="section featured">
    <div class="section-heading">
      {% block for_section_heading %} All Products {% endblock %}
    </div>

    <div class="section-block">
      <div class="section-product grid">
        {%for product in all_products%}
        <div class="product-items col-xs-4 col-sm-4 col-md-3 col-lg-3">
          <div class="product-thumb transition">
            <div class="image">
              <div class="first_image">
                <a href="{{product.get_absolute_url}}">
                  <img
                    height="400"
                    width="400"
                    src="{%static 'media/images/'|add:product.get_file_name %}"
                    alt="Responsive image"
                    title="Responsive image"
                    class="img-responsive"
                  />
                </a>
              </div>
            </div>
            <div class="product-details">
              <div class="caption">
                <h4>
                  <a href="{{product.get_absolute_url}}"
                    >{{product.title | capfirst}}
                  </a>
                </h4>
                <div class="model">Product 16</div>

                {%if product.get_discounted_price %}
                <p class="price">
                  <strike style="color: gray">INR {{product.price}}</strike>
                  <span style="color: green"
                    >({{product.get_highest_discount_percentage}} %)
                  </span>
                  <br />
                  INR {{product.get_discounted_price}}
                  <span class="price-tax"></span>
                </p>
                {%else%}
                <p class="price">
                  INR {{product.price}}
                  <span class="price-tax"></span>
                </p>
                {%endif%}
                <div id="product-43" class="product_option">
                  <div class="input-group col-xs-12 col-sm-12 button-group">
                    <label class="control-label col-sm-2 col-xs-2">Qty</label>
                    <input
                      type="number"
                      name="quantity"
                      min="1"
                      value="1"
                      size="1"
                      step="1"
                      id="input-quantity43"
                      class="qty form-control col-sm-2 col-xs-9"
                    />
                    <input type="hidden" name="product_id" value="43" />
                    <button
                      type="button"
                      class="addtocart col-sm-4 pull-right"
                      id="add-cart-43"
                      onclick="var xqty='input-quantity43'; var aqty = parseInt(document.getElementById(xqty).value); addtoCart(43,aqty);"
                    >
                      Add
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {%endfor%}
      </div>
    </div>
  </div>

  {% block specific_to_home_page2 %}
  <!-- Looping the all the brands here -->
  <div
    class="section brand wow fadeInUp"
    data-wow-duration="0.5s"
    data-wow-delay="0.5s"
  >
    <div class="section-heading">Our Popular Brands</div>
    <div class="section-block">
      <div id="carousel0" class="manufacture-slider owl-carousel">
        <div class="product-thumb">
          <div class="item text-center">
            <img
              src="image/cache/catalog/2-180x138.png"
              alt="Harley Davidson"
              class="img-responsive"
            />
          </div>
        </div>
        <div class="product-thumb">
          <div class="item text-center">
            <img
              src="image/cache/catalog/6-180x138.png"
              alt="Canon"
              class="img-responsive"
            />
          </div>
        </div>
        <div class="product-thumb">
          <div class="item text-center">
            <img
              src="image/cache/catalog/5-180x138.png"
              alt="Burger King"
              class="img-responsive"
            />
          </div>
        </div>
        <div class="product-thumb">
          <div class="item text-center">
            <img
              src="image/cache/catalog/4-180x138.png"
              alt="Coca Cola"
              class="img-responsive"
            />
          </div>
        </div>
        <div class="product-thumb">
          <div class="item text-center">
            <img
              src="image/cache/catalog/2-180x138.png"
              alt="RedBull"
              class="img-responsive"
            />
          </div>
        </div>
        <div class="product-thumb">
          <div class="item text-center">
            <img
              src="image/cache/catalog/1-180x138.png"
              alt="NFL"
              class="img-responsive"
            />
          </div>
        </div>
      </div>
    </div>
    <script>
      $(document).ready(function () {
        $(".manufacture-slider").owlCarousel({
          items: 6,
          autoPlay: true,
          singleItem: false,
          navigation: false,
          pagination: false,
          itemsDesktop: [1199, 5],
          itemsDesktopSmall: [991, 4],
          itemsTablet: [767, 3],
          itemsTabletSmall: [479, 2],
          itemsMobile: [360, 2],
        });
      });
    </script>
  </div>
  {% endblock %}
</div>

{% endblock %}
