<!-- inherits the nav bar and the side bar -->
{% extends 'base.html' %}

<!-- Defing the body  -->
{%block custombody%}
<div class="page-body">
  <!-- New User start -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-sm-8 m-auto">
            <div class="card">
              <div class="card-body">
                <div class="title-header option-title">
                  <h5>Edit your Offer</h5>
                </div>
                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                  <li class="nav-item" role="presentation">
                    <button
                      class="nav-link active"
                      id="pills-home-tab"
                      data-bs-toggle="pill"
                      data-bs-target="#pills-home"
                      type="button"
                    >
                      {% if offer_type == 'product' %} Product Offer {%else%}
                      Category Offer {%endif%}
                    </button>
                  </li>
                </ul>

                <div class="tab-content" id="pills-tabContent">
                  {% if offer_type == 'product' %}
                  <div
                    class="tab-pane fade active show"
                    id="pills-home"
                    role="tabpanel"
                  >
                    <form
                      method="POST"
                      action="{%url 'create-product-offer'%}"
                      class="theme-form theme-form-2 mega-form"
                    >
                      {% csrf_token %}

                      <div class="row">
                        <div class="mb-4 row align-items-center">
                          <label class="form-label-title col-lg-2 col-md-3 mb-0"
                            >{{ form.product.label_tag }}</label
                          >
                          <div class="col-md-9 col-lg-10">
                            {{ form.product }} {% if form.product.errors %}
                            <div class="text-danger">
                              {{ form.product.errors }}
                            </div>
                            {% endif %}
                          </div>
                        </div>
                        <div class="mb-4 row align-items-center">
                          <label class="form-label-title col-lg-2 col-md-3 mb-0"
                            >{{ form.discount_percentage.label_tag }}</label
                          >
                          <div class="col-md-9 col-lg-10">
                            {{ form.discount_percentage }} {% if
                            form.discount_percentage.errors %}
                            <div class="text-danger">
                              {{ form.discount_percentage.errors }}
                            </div>
                            {% endif %}
                          </div>
                        </div>

                        <div class="mb-4 row align-items-center">
                          <label
                            class="col-lg-2 col-md-3 col-form-label form-label-title"
                            >{{ form.start_date.label_tag }}</label
                          >
                          <div class="col-md-9 col-lg-10">
                            {{ form.start_date }} {% if form.start_date.errors
                            %}
                            <div class="text-danger">
                              {{ form.start_date.errors }}
                            </div>
                            {% endif %}
                          </div>
                        </div>
                        <div class="mb-4 row align-items-center">
                          <label
                            class="col-lg-2 col-md-3 col-form-label form-label-title"
                            >{{ form.end_date.label_tag }}</label
                          >
                          <div class="col-md-9 col-lg-10">
                            {{ form.end_date }} {% if form.end_date.errors %}
                            <div class="text-danger">
                              {{ form.end_date.errors }}
                            </div>
                            {% endif %}
                          </div>
                        </div>

                        <div class="mb-4 row align-items-center">
                          <div class="col-md-9 col-lg-10">
                            <button type="submit" class="btn btn-primary">
                              Apply Changes
                            </button>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                  {%else%}
                  <div
                    class="tab-pane fade active show"
                    id="pills-home"
                    role="tabpanel"
                  >
                    <form
                      method="POST"
                      action="{%url 'create-category-offer'%}"
                      class="theme-form theme-form-2 mega-form"
                    >
                      {% csrf_token %}

                      <div class="row">
                        <div class="mb-4 row align-items-center">
                          <label class="form-label-title col-lg-2 col-md-3 mb-0"
                            >{{ form.category.label_tag }}</label
                          >
                          <div class="col-md-9 col-lg-10">
                            {{ form.category }} {% if form.category.errors %}
                            <div class="text-danger">
                              {{ form.category.errors }}
                            </div>
                            {% endif %}
                          </div>
                        </div>
                        <div class="mb-4 row align-items-center">
                          <label class="form-label-title col-lg-2 col-md-3 mb-0"
                            >{{ form.discount_percentage.label_tag }}</label
                          >
                          <div class="col-md-9 col-lg-10">
                            {{ form.discount_percentage }} {% if
                            form.discount_percentage.errors %}
                            <div class="text-danger">
                              {{ form.discount_percentage.errors }}
                            </div>
                            {% endif %}
                          </div>
                        </div>

                        <div class="mb-4 row align-items-center">
                          <label
                            class="col-lg-2 col-md-3 col-form-label form-label-title"
                            >{{ form.start_date.label_tag }}</label
                          >
                          <div class="col-md-9 col-lg-10">
                            {{ form.start_date }} {% if form.start_date.errors
                            %}
                            <div class="text-danger">
                              {{ form.start_date.errors }}
                            </div>
                            {% endif %}
                          </div>
                        </div>
                        <div class="mb-4 row align-items-center">
                          <label
                            class="col-lg-2 col-md-3 col-form-label form-label-title"
                            >{{ form.end_date.label_tag }}</label
                          >
                          <div class="col-md-9 col-lg-10">
                            {{ form.end_date }} {% if form.end_date.errors %}
                            <div class="text-danger">
                              {{ form.end_date.errors }}
                            </div>
                            {% endif %}
                          </div>
                        </div>

                        <div class="mb-4 row align-items-center">
                          <div class="col-md-9 col-lg-10">
                            <button type="submit" class="btn btn-primary">
                              Apply Changes
                            </button>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                  {%endif%}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- New User End -->
</div>
{%endblock%}
