

<!-- Inherits the nav bar and the footer -->
{% extends "store/base.html" %}
{% load static %}




{% block for_common_body %}

<div class="container ">
    <div class="row">
        <div id="content" class="col-sm-9 ">
            <p>Enter the e-mail address assoiated with your account. Click submit to have a password reset link e-mailed to you.</p>
            <form method="post">
                <form method="post">
                    {% csrf_token %}
                    {{form}}
                    <input type="Submit" name="Send email" class="btn btn-primary" >
            </form>
        </div>
    </div>
</div>





{% endblock %}



    