<!-- inherits the nav bar and the side bar -->
{% extends 'base.html' %}

<!-- Defing the body  -->
{%block custombody%}

<div class="page-body">
  <!-- New Category Add Start -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-sm-8 m-auto">
            <div class="card" data-select2-id="select2-data-33-3v2a">
              <div class="card-body" data-select2-id="select2-data-32-0fuo">
                <div class="card-header-2">
                  <h5>Category Information</h5>
                </div>

                <form
                  method="POST"
                  action=""
                  class="theme-form theme-form-2 mega-form"
                >
                  {% csrf_token %}
                  <div class="mb-4 row align-items-center">
                    <label class="form-label-title col-lg-2 col-md-3 mb-0"
                      >{{ form.name.label_tag }}</label
                    >
                    <div class="col-md-9 col-lg-10">
                      {{ form.name }} {% if form.name.errors %}
                      <div class="text-danger">{{ form.name.errors }}</div>
                      {% endif %}
                    </div>
                  </div>
                  <div class="mb-4 row align-items-center">
                    <label class="form-label-title col-lg-2 col-md-3 mb-0"
                      >{{ form.title.label_tag }}</label
                    >
                    <div class="col-md-9 col-lg-10">
                      {{ form.title }} {% if form.title.errors %}
                      <div class="text-danger">{{ form.title.errors }}</div>
                      {% endif %}
                    </div>
                  </div>
                  <div class="mb-4 row align-items-center">
                    <label class="col-sm-3 col-form-label form-label-title"
                      >Visibility:</label
                    >
                    <div class="col-sm-9">
                      {{ form.is_active }} {% if form.is_active.errors %}
                      <div class="text-danger">{{ form.is_active.errors }}</div>
                      {% endif %}
                    </div>
                  </div>
                  <button type="submit" class="btn btn-primary">
                    {%block custombutton%}Create Category{%endblock%}
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{%endblock%}
