{%extends 'base.html'%} {%block custombody%}
<div class="page-body">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="card card-table">
          <div class="card-body">
            <!-- Title Header -->
            <div class="title-header option-title d-sm-flex d-block">
              <h5>Category List</h5>
              <div class="right-options">
                <ul>
                  <li>
                    <a class="btn btn-solid" href="{%url 'create-category'%}"
                      >Add Category</a
                    >
                  </li>
                </ul>
              </div>
            </div>

            <!-- Search Form -->
            <div>
              <div class="table-responsive">
                <div id="table_id_wrapper" class="dataTables_wrapper no-footer">
                  <div id="table_id_filter" class="dataTables_filter">
                    <form
                      class="d-flex"
                      method="GET"
                      action="{%url 'display-categories'%}"
                    >
                      <input
                        class="form-control me-2"
                        type="search"
                        placeholder="Search for Products"
                        aria-label="Search"
                        name="name"
                      />
                      <button class="btn btn-outline-success" type="submit">
                        Search
                      </button>
                    </form>
                  </div>

                  <!-- Category Table -->
                  <table
                    class="table all-package theme-table table-product dataTable no-footer"
                    id="table_id"
                  >
                    <thead>
                      <tr>
                        <th
                          class="sorting_disabled"
                          rowspan="1"
                          colspan="1"
                          style="width: 170px"
                        >
                          Category Name
                        </th>
                        <th
                          class="sorting_disabled"
                          rowspan="1"
                          colspan="1"
                          style="width: 170px"
                        >
                          Title
                        </th>
                        <th
                          class="sorting_disabled"
                          rowspan="1"
                          colspan="1"
                          style="width: 170px"
                        >
                          Added On
                        </th>
                        <th
                          class="sorting_disabled"
                          rowspan="1"
                          colspan="1"
                          style="width: 170px"
                        >
                          Status
                        </th>
                        <th
                          class="sorting_disabled"
                          rowspan="1"
                          colspan="1"
                          style="width: 170px"
                        >
                          Option
                        </th>
                      </tr>
                    </thead>

                    <!-- Category Table Body -->
                    <tbody>
                      {% for category in all_categories %}
                      <tr class="odd">
                        <td>{{ category.name }}</td>
                        <td>{{ category.title }}</td>
                        <td>{{ category.added_on }}</td>

                        {% if category.is_active %}
                        <td class="status-close">
                          <span>Visible</span>
                        </td>
                        {% else %}
                        <td class="status-danger">
                          <span>Hidden</span>
                        </td>
                        {% endif %}

                        <!-- Category Options -->
                        <td>
                          <ul>
                            <li>
                              <a href="order-detail.html">
                                <i class="ri-eye-line"></i>
                              </a>
                            </li>
                            <li>
                              <a href="{%url 'update-category' category.id%}">
                                <i class="ri-pencil-line"></i>
                              </a>
                            </li>
                            <li>
                              <a
                                href="{%url 'delete-category' category.id%}"
                                data-bs-toggle="modal"
                                data-bs-target="#deleteCategoryModal{{ category.id }}"
                              >
                                <i class="ri-delete-bin-line"></i>
                              </a>
                            </li>
                          </ul>
                        </td>
                      </tr>

                      <!-- Delete Category Modal -->
                      <div
                        class="modal fade show"
                        id="deleteCategoryModal{{ category.id }}"
                        data-bs-backdrop="static"
                        data-bs-keyboard="false"
                        tabindex="-1"
                        aria-labelledby="deleteCategoryModalLabel{{ category.id }}"
                        style="display: none"
                        aria-modal="true"
                        role="dialog"
                      >
                        <div class="modal-dialog modal-dialog-centered">
                          <div class="modal-content">
                            <div class="modal-body">
                              <h5
                                class="modal-title"
                                id="deleteCategoryModalLabel{{ category.id }}"
                              >
                                Delete Category
                              </h5>
                              <p>
                                Are you sure you want to delete this category?
                              </p>
                              <button
                                type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"
                              ></button>
                              <div class="button-box">
                                <a
                                  href="#"
                                  class="btn btn--no"
                                  data-bs-dismiss="modal"
                                  >No</a
                                >
                                <a
                                  href="{% url 'delete-category' category.id %}"
                                  class="btn btn--yes btn-primary"
                                  >Yes</a
                                >
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- End Delete Category Modal -->

                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
